<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Panda Food</title>
        <link rel="icon" type="image/png" href="{{ url_for('static',    filename='assets/logo.jpg') }}" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static',    filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" style="font-weight: bold;" href="{{ url_for('pages.index') }}"><img class="img-profile" src="{{ url_for('static',    filename='assets/ippai_food_logo.svg') }}" width="50" height="50">Panda Food</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cardapio</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">Todos</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Comidas</a></li>
                                <li><a class="dropdown-item" href="#!">Bebidas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('pages.contact') }}">Contato</a></li>
                        <li class="nav-item"><a class="nav-link"><span style="color: #00ff00;">◉</span>Aberto</a></li>
                        
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li> -->
                    </ul>
                    <a href="{{ url_for('pages.login') }}">
                        <li class="btn btn-menu-light nav-item dropdown">
                            <a class="nav-login dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i> Login</a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
                                <form class="form-horizontal" method="post" accept-charset="UTF-8">
                                    <input class="form-control login" type="text" name="username" placeholder="Username.."><br>
                                    <input class="form-control login" type="password" name="password" placeholder="Password.."><br>
                                    <input class="btn btn-primary" type="submit" name="submit" value="Login">
                                    <p></p>
                                    <a href="{{ url_for('pages.singup') }}" class="text-dark">Create One</a>
                                </form>
                            </div>
                        </li>
                        <!-- <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button> -->
                    </a>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="fundotitle py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-red">
                    <!-- <h1 class="display-4 fw-bolder">Panda Food</h1> -->
                    <img class="img-profile" src="{{ url_for('static',    filename='assets/ippai_food.svg') }}" width="150" height="150">
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- 0começo dos post -->
                    <!-- loop for db -->
                    <div class="col mb-5">
                        <div class="text-center">
                                    <!-- Product price-->
                                    <p>Panda Food</p>
                                    <p>Contato: (16) 999999</p>
                                    <p>E-mail: - ippaifood@gmail.com</p>
                                    <p>Endereço: Rua Vereador Lemiro de Abreu 90, Castelo - Ribeirão Preto</p>
                                    <p>Segunda a Sexta das 09:00 16:00</p>
                        </div>
                    </div>    
                    <!-- print screen -->
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-yellow">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Panda Food 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
