<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Panda Food</title>
        <link rel="icon" type="image/png" href="{{ url_for('static',    filename='assets/logo.jpg') }}" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static',    filename='css/styles.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',    filename='css/cart.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" style="font-weight: bold;" href="{{ url_for('pages.index') }}"><img class="img-profile" src="{{ url_for('static',    filename='assets/ippai_food_logo.svg') }}" width="50" height="50">Panda Food</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cardapio</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">Todos</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/product/Tipicas Brasileiras">Tipicas Brasileira</a></li>
                                <li><a class="dropdown-item" href="/product/asiaticos">Asiaticos</a></li>
                                <li><a class="dropdown-item" href="/product/sobremesas">Sobremesas</a></li>
                                <li><a class="dropdown-item" href="/product/bebidas">Bebidas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('pages.contact') }}">Contato</a></li>
                        <li class="nav-item"><a class="nav-link"><span style="color: #00ff00;">◉</span>Aberto</a></li>
                        
                    </ul>
                    {% if cookie == None %}
                        <li class="btn btn-menu-light nav-item dropdown">
                            <a class="nav-login dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i> Login</a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
                                <form action="{{ url_for('admin.auth') }}" method="POST" class="form-horizontal" accept-charset="UTF-8">
                                    <input class="form-control login" type="text" name="email" placeholder="email.."><br>
                                    <input class="form-control login" type="password" name="password" placeholder="Password.."><br>
                                    <input class="btn btn-primary" type="submit" name="submit" value="Login">
                                    <p></p>
                                    <a href="{{ url_for('pages.singup') }}" class="text-dark">Create One</a>
                                </form>
                            </div>
                        </li>
                    {% else %}
                        <li class="usermenu btn btn-menu-light nav-item dropdown">
                            <a class="nav-login dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-cart-fill me-1"></i> Carrinho <span class="badge bg-dark text-white ms-1 rounded-pill">R${% if total != None %}{{total}}{% else %}0{% endif %}</span></i></a>
                            <ul class="dropdown-menu dropdown-cart" role="menu">
                                {% if cart != None %}
                                    {%for a in range(cart|length) %}
                                        <li>
                                            <span class="item">
                                            <span class="item-left">
                                                <img src="{{ url_for('static',    filename='assets')}}/{{cart[a]['image']}}" width="50" height="50" alt="..."/>
                                                <span class="item-info">
                                                    <span>{{cart[a]['name']}}{% if cart[a]['amount'] >=2 %}(x{{cart[a]['amount']}}){% else %}{% endif %}</span>
                                                    <span>R$ {{cart[a]['cash']}}</span>
                                                </span>
                                            </span>
                                            <span class="item-right">
                                                <button class="btn btn-xs btn-danger pull-right">x</button>
                                            </span>
                                        </span>
                                        </li>
                                    {%endfor%}
                                <li><hr class="dropdown-divider" /></li>
                                <div class="text-center"><button type="button" class="btn btn-danger">View Cart</button></div>
                                {% else %}
                                {% endif %}
                            </ul>
                        </li>
                        <p>  </p>
                        <li class="usermenu btn btn-menu-light nav-item dropdown">
                            <a class="nav-login dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!"><i class="bi bi-card-list"></i> Pedidos</a></li>
                                <li><a class="dropdown-item" href="{{url_for('pages.dashboard') }}"><i class="bi bi-gear-fill"></i> Configuração</a></li>
                                <li><a class="dropdown-item" href="#!"><i class="bi bi-bar-chart-fill"></i> Admin</a></li>
                                <li><a class="dropdown-item" href="{{url_for('admin.logout') }}"><i class="bi bi-door-open-fill"></i> Sair</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    <!-- <button class="btn btn-menu-light" type="submit">
                        <i class="bi bi-person-circle"></i>
                        Login
                    </button> -->
                    <!-- <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button> -->
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="fundotitle py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-red">
                    <!-- <h1 class="display-4 fw-bolder">Panda Food</h1> -->
                    <img class="img-profile" src="{{ url_for('static',    filename='assets/ippai_food.svg') }}" width="150" height="150">
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ messages[0] }}
                    </div>
                {% endif %}
                {% endwith %}
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- 0começo dos post -->
                    <!-- loop for db -->
                    {% if items == None %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ url_for('static',    filename='assets/01.jpg') }}"alt="..."/>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Tipicas Brasileiras</h5>
                                        <!-- Product price-->
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/product/Tipicas Brasileiras">Ver</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- fim dos post -->
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ url_for('static',    filename='assets/02.jpg') }}"alt="..."/>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Asiaticos</h5>
                                        <!-- Product price-->
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/product/asiaticos">Ver</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ url_for('static',    filename='assets/sobremesas.jpg') }}"alt="..."/>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Sobremesas</h5>
                                        <!-- Product price-->
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/product/sobremesas">Ver</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ url_for('static',    filename='assets/bebidas.jpg') }}" alt="..."/>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Bebidas</h5>
                                        <!-- Product price-->
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/product/bebidas">Ver</a></div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {%if (items|length) == 0%}
                            <div class="col mb-5">
                                <img class="card-img-top" src="{{ url_for('static',    filename='assets/404.png') }}"/>
                            </div>
                        {% else %}
                            {%for a in range(items|length) %}
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img class="card-img-top" src="{{ url_for('static',    filename='assets')}}/{{items[a]['image']}}" width="430" alt="..."/>
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{items[a]['name']}}</h5>
                                                <!-- Product price-->
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/cart/{{items[a]['id']}}">R$ {{items[a]['cash']}}</a></div>
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                        {% endif %}
                    {% endif %}
                    <!-- print screen -->
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-yellow">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Panda Food 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
