SQLAlchemy[speedups]
Flask[speedups]
Flask-Cors[speedups]
Flask-JWT-Extended[speedups]
flask-marshmallow[speedups]
Flask-Migrate[speedups]
Flask-RESTful[speedups]
Flask-SocketIO[speedups]
Flask-SQLAlchemy[speedups]